<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 拍照权限：M5 才会真正请求 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HuaWeiNote">

        <activity
            android:name=".controller.list.NoteListActivity"
            android:exported="true"
            android:theme="@style/Theme.HuaWeiNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.editor.NoteEditorActivity"
            android:exported="false"
            android:parentActivityName=".controller.list.NoteListActivity"
            android:theme="@style/Theme.HuaWeiNote"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.list.NoteListActivity" />
        </activity>

        <!-- FileProvider：M5 拍照功能用 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fan.hwnote.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
